*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Inicio da Pagina Index */

.containerHome{
    display: grid;
    /* border: solid 1px red; */
    align-items: center;
}

.boxHome{
    display: grid;

    /* border: solid 1px red; */

    margin-left: 125px;
    margin-right: 125px;
    margin-top: 40px;
}

.RegComanda{

background-color: #FB8500;
border-radius: 10px;
padding: 15px;
}

.Mesas{

background-color: #FFB703;
border-radius: 10px;
padding: 15px;
}


.button{
    max-width: fit-content;
    border-radius: 5px;
    margin-left: 30px;
    padding:5px;
    border: outset;

}

.buttonA{
    width: 250px;
    border-radius: 5px;
    margin-left: 30px;
    padding:5px;
    border: outset 4px #FFB703;
    background-color: #FB8500;
    color: white;
}

.buttonB{
    width: 250px;
    border-radius: 5px;
    margin-left: 30px;
    padding:5px;
    border: outset 4px red;
    background-color: rgba(255, 0, 0, 0.5);
 }

 .buttonC{
    margin:15px;
    border-radius: 5px;
    padding:5px;
    border: outset 4px red;
    background-color: rgba(255, 0, 0, 1);
    color: white
 }

 .buttonD{
    width: 100%;
    border-radius: 5px;
    padding:5px;
    border: outset 4px #FFB703;
    background-color: #FB8500;
    color: white;
}

.nav{

    display: grid;
    margin: 0px;
    padding: 5px;
    background-color: #023047;
    grid-template-columns: repeat(2, 5%) 15% auto 20% 5%;
    grid-template-rows: 50px;
    grid-template-areas: 
    "logo home comandas mesas signin ico";
}

.txtNav{

    display: grid;
    /* border: solid 1px red; */
    background-color: #023047;
    Color: white;
    place-self: center stretch;
    margin: 5px;
    text-decoration: none;
    }

.pos1{
    display: grid;
    grid-area: logo;
    max-width: 70%;

}

.pos2{
    display: grid;
    grid-area: home ;
}

.pos3{
    display: grid;
    grid-area: comandas ;
}

.pos4{
    display: grid;
    grid-area: mesas ;
}

.pos5{
    display: grid;
    grid-area: signin ;
    color: white;
    justify-self: end;
    
}

.pos6{
    display: grid;
    grid-area: ico ;
    max-width: 20px;
    max-height: 20px;
   
}


.Tit1{
    font-size: 35px;
            font-weight: 600;

}


.Tit2{
    font-size: 20px;
        font-weight: 500;

}


.Tit3{
    font-size: 20px;
    font-weight: 100;
    margin: 10px;

}

.Tit4{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;


}

.Tit5{
    font-size: 20px;
    font-weight: 500;
    text-align: end;
    
}

/* Inicio da Pagina Comandas */

.ContainerComanda{

    display: grid;
    /* border: solid 1px red; */
    grid-template-columns: auto 22% 22% 40%;
    grid-template-rows: 1fr 2fr ;
    background-color: #FFC300;
    margin-top: 10px;
    gap:2px;
 

    grid-template-areas: 
    
    "name name name name"
    "i1 i3 i4 i2"
    ;

}

.boxComandas{
    display: grid;
    color: #003566;
    /* border: solid 1px red; */
    /* background-color: yellow; */
    
}


.item0{
        /* border: solid 1px red; */
        grid-area: name;
            color: #003566;
 

}
.item1{
        /* border: solid 1px red; */
        grid-area: i1;

        }
.item2{
        /* border: solid 1px red; */
        grid-area: i2;

}
.item3{
        /* border: solid 1px red; */
        grid-area: i3;

}
.item4{
        /* border: solid 1px red; */
        grid-area: i4;


}



.select{

    border-radius: 5px;
    box-shadow: 4px 4px #001D3D;
    width: 100%;
    height: 30px;
    padding: 2px;
 
}

.input{

    border-radius: 5px;
    box-shadow: 4px 4px #001D3D;
    width: 100%;
    height: 30px;
    padding: 2px;
 
}

.inputA{

    border-radius: 2px;
    box-shadow: 2px 2px #001D3D;
    width: 125%;
    height: 30px;
  
}

.checkbox{

    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding: 2px;

}

.horizLineNavyBlue{

    border: solid 3px #001D3D;
    opacity : 1;
    margin-top: 5px;
    margin-bottom: 5px;

}


.horizLineBlue{

    border: solid 2px #003566;
    opacity : 0.75;
    margin-top: 5px;

}

.horizLineRed{

    border: solid 2px orangered;
    opacity : 0.5;
    margin-top: 5px

}

.ContainerCliente{

    display: grid;
/* border: solid 1px red; */
    background-color: #003566;
    color: white;
    grid-template-columns: 35% 25% 15% auto;
    grid-template-rows: 1fr 2fr auto ;


    grid-template-areas: 
    "cli0 cli0 cli0 cli0"
    "cli1 cli2 cli3 cli4"
    "cli1 cli2 cli3 cli5";

}

.boxCliente{
    display: grid;
/* border: solid 1px red; */
    color: white
    
}

.cli0{
        /* border: solid 1px red; */
        grid-area: cli0;
        align-self: center;


}

.cli1{
        /* border: solid 1px red; */
        grid-area: cli1;
        align-self: center;


}
.cli2{
        /* border: solid 1px red; */
        grid-area: cli2;
        align-self: center;


}

.cli3{
        /* border: solid 1px red; */
        grid-area: cli3;
        place-self: center;
        align-self: center;

}

.cli4{
        /* border: solid 1px red; */
        grid-area: cli2;
        justify-self: end;

}

.cli5{
        /* border: solid 1px red; */
        grid-area: cli2;
        justify-self: end;

}

.ContainerAtivas{

    display: grid;
    background-color: whitesmoke;
    color: black; 
    grid-template-columns: 10% 10% 10% 10% 10% 10% auto;
    grid-template-rows: repeat(2, auto); 


    grid-template-areas: 
    "ativa0 ativa0 ativa0 ativa0 ativa0 ativa0 ativa0"
    "ativa1 ativa2 ativa3 ativa4 ativa5 ativa6 ativa7";

}

.boxAtivas{
    align-self: center;
    place-self: center stretch;
    
}

.ativa0{
        grid-area: ativa0;
        justify-self: start;
        font-weight: ;
        
}

.ativa1{

        grid-area: ativa1;
        border-bottom: solid 1px black;
        font-size: large;
}
.ativa2{

        grid-area: ativa2;
        border-bottom: solid 1px black;
        font-size: large;
}
.ativa3{
        
        grid-area: ativa3;
        border-bottom: solid 1px black;
        font-size: large;
}
.ativa4{
        
        grid-area: ativa4;
        border-bottom: solid 1px black;
        font-size: large;
}
.ativa5{
       
        grid-area: ativa5;
        border-bottom: solid 1px black;
        font-size: large;
}
.ativa6{
            
        grid-area: ativa6;
        border-bottom: solid 1px black;
        font-size: large;
}
.ativa7{
        
        grid-area: ativa7;
        border-bottom: solid 1px black;
        font-size: large;

        
}



.ContainerDados{

    display: grid;
    background-color: whitesmoke;
    color: black; 
    grid-template-columns: 10% 10% 10% 10% 10% 10% auto;
    grid-template-rows: repeat(1, auto); 


    grid-template-areas: 
    "ativa8 ativa9 ativa10 ativa11 ativa12 ativa13 ativa14";

}

.boxDados{
    align-self: center;
    place-self: stretch;
    background-color:lightgray;
   
}

.ativa8{

        grid-area: ativa8;
        border-bottom: solid 1px black;
}
.ativa9{

        grid-area: ativa9;
        border-bottom: solid 1px black;
}
.ativa10{
        
        grid-area: ativa10;
        border-bottom: solid 1px black;
}
.ativa11{
        
        grid-area: ativa11;
        border-bottom: solid 1px black;
}
.ativa12{
       
        grid-area: ativa12;
        border-bottom: solid 1px black;
}
.ativa13{
            
        grid-area: ativa13;
        border-bottom: solid 1px black;
}
.ativa14{
        
        grid-area: ativa14;
        border-bottom: solid 1px black;
}

/* Inicio Pagina Mesas */

.AreaSalao {
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 150px 150px 150px  ;
    grid-template-rows: repeat(3,minmax(150px,auto));
    background-color: #fff;
    color: #444;
    margin: 25px;
    padding: 25px;
    justify-content: center;


  }

  .AreaJardim {
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 150px 150px 150px  ;
    grid-template-rows: repeat(3,minmax(150px,auto));
    background-color: #fff;
    color: #444;
    margin: 25px;
    padding: 25px;
    justify-content: center;


  }

   .boxMesas {
    background-color: #FFD60A;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    gap: 12px;
    

  }

  .boxMesas .boxMesas {
    background-color: gray;
    color:white;
    font-size: 18px;
    border-radius: 10px;
    align-items: center;

  }

  .a {
    grid-column: 2 / 3;
  }

  .b {
    grid-column: 4 ;
  }

  .c {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .d{
    padding: 50px;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  .e {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .f {
    grid-row: 1;
    grid-column: 2 / 4;
  }

  .g {
    grid-row: 2;
    grid-column: 3 / 4;
  }


  .h {
    grid-row: 1;
    grid-column: 1 / 1;
  }

  .i {
    grid-column: 3 / 5 ;
  }

  .k{
    padding: 50px;
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  .l {
    grid-row: 1;
    grid-column: 1 ;
  }

  .m {
    grid-row: 1;
    grid-column: 2 / 4;
  }

  .n {
    grid-row: 3;
    grid-column: 1;
  }

    .o {
    grid-row: 3;
    grid-column: 3;
  }

  .fundoMesas{
    background-color: white;
  }



/* Inicio Pagina Sign-In */

  .logotipo{

    display: grid;
    max-height: 80px;
    resize: both;

    }

  .containerSignIn{ 

    display: grid;
    gap: 15px;
    background-color: whitesmoke;
    grid-template-columns: 35% auto 35%;
    grid-template-rows: repeat(6, 10%); 

    grid-template-areas: 
    ". log0 ."
    ". log5 ."
    ". log1 ."
    ". log2 ."
    ". log3 ."
  }
  
.log0{  
        grid-area: log0;
        /* border: solid 1px red; */

}

.log1{  
        grid-area: log1;
        max-width: fit-content;
        /* border: solid 1px red; */

        padding: 0px;


}

.log2{  
        grid-area: log2;
        max-width: fit-content;
        /* border: solid 1px red; */

}

.log3{  
        grid-area: log3;
        max-width: fit-content;
        /* border: solid 1px red; */

}

.log5{  
        grid-area: log5;
        max-width: fit-content;
        /* border: solid 1px red; */

        margin-top: 15px;
        margin-bottom: 15px;

}
